<% provide(:title, 'Sign up') %>     
<!--SIGNUP START-->
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading">
						<div class="row">
                            <div class="col-xs-12">
				                <h1>Sign up</h1>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

											<div class="col-sm-6 col-sm-offset-3 center">
                                                <%= link_to "Sign in with Google", "/auth/google_oauth2", class:"btn btn-lg btn-primary" %>
											</div>
                                
       										   

                                    
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
