
<% provide(:title, @user.name) %>
<div class="row">
    <div class ="map">
        <div id="map" class = "col-md-12"></div>
    </div>
</div>

<input id="title" type="text" style="display:none;"/><br/>
<input id="description" type="text" style="display:none;"/><br/>

<div class="row">
    <div class= "col-md-12" id="setTime">
        <button class="btn setAlert" id="setTime1" onclick="loadCalendarApiL()"></button><button class="btn setAlert" id="setTime2" onclick="loadCalendarApiR()"></button>
    </div>
</div>

<div class="row">
    <div class= "col-md-12 setTime">
        <i class= "fa fa-calendar fa-lg"></i> Google reminder set.
    </div>
</div>

<div class="row">
    <div class= "col-md-12 intro">
        <i class="fa fa-road fa-inverse fa-lg"></i> Click a street.
        <i class='fa fa-bell-o fa-lg'></i> Set a reminder.
    </div>
</div>

<div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span>
    Button for the user to click to initiate auth sequence 
    <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
    </button>
</div>



<script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>
<%= javascript_include_tag 'aamap.js' %>
<%= javascript_include_tag 'app.js' %>
<%= javascript_include_tag 'gmauth.js' %>



         

