<% provide(:title, @user.name) %>
<div class="row">
    <div class ="map">
        <div id="map" class = "col-md-12"></div>
    </div>
</div>
<input id="testical"></input>
<input id="title" type="text" style="display:none;"/><br/>
<input id="description" type="text" style="display:none;"/><br/>

<div class="row">
    <div class= "col-md-12" id="setTime">
        <button class="btn setAlert" id="setTime1" onclick="loadCalendarApiL()"></button><button class="btn setAlert" id="setTime2" onclick="loadCalendarApiR()"></button>
    </div>
</div>

<div class="row">
    <div class= "col-md-12 setTime">
        <i class= "fa fa-calendar fa-lg"></i> Google reminder set.
    </div>
</div>

<div class="row">
    <div class= "col-md-12 intro">
        <i class="fa fa-road fa-inverse fa-lg"></i> Click a street.
        <i class='fa fa-bell-o fa-lg'></i> Set a reminder.
    </div>
</div>

<div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span>
    Button for the user to click to initiate auth sequence 
    <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
    </button>
</div>

<script src="https://apis.google.com/js/client.js?onload=checkAuth">
</script>
<script>



// Your Client ID can be retrieved from your project in the Google
      // Developer Console, https://console.developers.google.com
      var CLIENT_ID = '845919965723-jte5403epcbbcagjqojk8325a2jchbnk.apps.googleusercontent.com';
      var SCOPES = ["https://www.googleapis.com/auth/calendar"];

      
      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES,
            'immediate': true
          }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       *
       * @param {Object} authResult Authorization result.
       */
      function handleAuthResult(authResult) {
        
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
//            loadCalendarApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
            alert('not logged in');
          authorizeDiv.style.display = 'inline';
        }
      }

      /**
       * Initiate auth flow in response to user clicking authorize button.
       *
       * @param {Event} event Button click event.
       */
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }



</script>







         

