
<h1>My first map</h1>

<div class ="map" style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to "Map", openmaps_path %>

<script type="text/javascript">
L.mapbox.accessToken = 'pk.eyJ1IjoiYnJhbmRvbjIiLCJhIjoiNTdiYjRlNDkwNTg2MGFhY2E2ZTY3YTZiZGFiYmJkYjAifQ.vbf_uXqBVoe3fDCnC5zdPw';

L.mapbox.map('map', 'brandon2.n6ne1ipc')
  .setView([33.7683, -118.1956], 14);
    
    L.geoJson({"type":"FeatureCollection","features":[{"type":"Feature","properties":{"title":"Street Sweeping","description":"Right: Tues 8-10. Left: Wed 8-10","stroke":"#1087bf","stroke-width":4,"stroke-opacity":1},"geometry":{"coordinates":[[-118.183697,33.766875],[-118.183697,33.768053]],"type":"LineString"},"id":"7f5b0f67ed99b61afc829bfb3df3003f"}],"id":"brandon2.n6ne1ipc"}).addTo(map);
</script>









