<div class="row splash">
    <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 box">
    <%= image_tag 'truck.png', class:'truck' %>
    <div class="logos">Street Sweep Alert</div>
    <%= button_to "Log in with Gmail", "/auth/google_oauth2",class:"btn btn-primary btn-xl login" %>
    </div>
</div>














