/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container>.navbar-header {
    margin-right: 15px;
    margin-left: 15px;
}

.nav>li>a {
    padding-left:45px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right:0px;
    padding-left:0px;
  }
}
